@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@theme {
  --font-inter: var(--font-inter), sans-serif;
  --font-brygada: var(--font-brygada), serif;
}

@layer utilities {
  .font-brygada {
    font-family: var(--font-brygada), serif;
  }
  .font-inter {
    font-family: var(--font-inter), serif;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: 240 20% 98%;
  --foreground: 224 71.4% 4.1%;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(18.57% 0.0082 285.57);
  --foreground: oklch(86.7% 0.03 235);
  --card: oklch(21% 0.01 286);
  --card-foreground: oklch(97.1% 0.014 235);
  --popover: oklch(19.7% 0.008 286);
  --popover-foreground: oklch(82.6% 0.03 235);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(35.4% 0.062 275);
  --secondary-foreground: oklch(97.1% 0.014 235);
  --muted: oklch(21.7% 0.01 286);
  --muted-foreground: oklch(56.4% 0.014 300);
  --accent: oklch(66.2% 0.25 275 / 0.2);
  --accent-foreground: oklch(97.1% 0.014 235);
  --destructive: oklch(63.2% 0.22 25);
  --destructive-foreground: oklch(97.1% 0.014 235);
  --border: oklch(30% 0.01 286);
  --input: oklch(32.2% 0.009 295);

  --ring: oklch(70.8% 0.185 300);

  --chart-1: oklch(60.5% 0.17 250);
  --chart-2: oklch(57.2% 0.135 165);
  --chart-3: oklch(67.5% 0.18 55);
  --chart-4: oklch(69% 0.16 300);
  --chart-5: oklch(66.5% 0.19 10);
  --sidebar-background: oklch(20.3% 0.009 286);
  --sidebar-foreground: oklch(88.5% 0.028 235);
  --sidebar-primary: oklch(59.8% 0.19 255);
  --sidebar-primary-foreground: oklch(100% 0 0);

  --sidebar-accent: oklch(26.8% 0.01 286);
  --sidebar-accent-foreground: oklch(85.8% 0.11 300);

  --sidebar-border: oklch(23.5% 0.003 286);
  --sidebar-ring: oklch(68.9% 0.185 300);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
}

@keyframes gradient-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background-size: 200% 100%;
  animation: shimmer 15s linear infinite;
}